<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Vidly", "Home")</li>
                <li>@Html.ActionLink("Customers", "Customers")</li>
                <li>@Html.ActionLink("Movies", "Movies")</li>
                
            </ul>
        </div>
    </div>
</div>

